<%- include('partials/htmlhead') -%>
<div class="w3-deep-orange">
    <header class="w3-container">
        <div class="w3-bar w3-deep-orange">
            <a href="/elections" class="w3-bar-item">Back</a>
            <a class="w3-bar-item w3-right" href="/logout">Log out</a>
            <a class="w3-bar-item w3-right" href="">Profile</a>
        </div>
        <nav class="w3-bar">
            <button class="w3-bar-item w3-button tab-btn w3-sand" onclick="showSection('add-candidate', 'add-candidate-btn');" id="add-candidate-btn">Add Candidate</button>
            <button class="w3-bar-item w3-button tab-btn" onclick="showSection('candidate-list', 'candidate-list-btn'); showCandidates();" id="candidate-list-btn">Candidate List</button>
        </nav>
    </header>
    <div class="w3-row">
        <div class="w3-card w3-col s12 m12 l9 w3-sand w3-round w3-container" style="box-shadow: none;">
            <div class="full-height content-section active" id="add-candidate">
                <div class="w3-container form-padding w3-round">
                <h2 class="w3-margin"><%=name %> Candidate Form</h2>
                <form action=<%=link %> method="POST" class="w3-padding">
                    <div class="w3-margin">
                        <label for="matricule">Matricule</label>
                        <input type="text" id="matricule" name="matricule" class="w3-input w3-border w3-round" maxlength="8" required>
                    </div>
                    <div class="w3-margin">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="name" name="name" class="w3-input w3-border w3-round" required>
                    </div>
                    <div class="w3-margin" style="display: none;">
                        <label for="elections_id" class="form-label">Elections ID</label>
                        <input type="number" id="elections_id" value="<%=id %>" name="election_id" class="form-control" placeholder="Enter Elections ID" required>
                    </div>
                    <div class="w3-margin" style="display: none;">
                        <label for="election_name" class="form-label">Election Name</label>
                        <input type="text" id="election_name" value="<%=name.replace(' ', '-') %>" name="election_name" class="form-control" placeholder="Enter Election Name" maxlength="60" required>
                    </div>
                    <div class="w3-margin">
                        <label for="position" class="form-label">Position</label>
                        <input type="text" id="position" name="position" class="w3-input w3-border w3-round" maxlength="50" required>
                    </div>
                    <div class="w3-margin">
                    <input type="submit" class="w3-input w3-round w3-deep-orange" value="submit">
                    </div>
                </form>
            </div>
            </div>
            <div class="content-section" id="candidate-list">
                <div class="w3-margin">
                    <h3>Candidates</h3>
                </div>
                <div id="election-id" style="display:none ;"><%=id %></div>
                <script>
                    function showCandidates(){
                    const list = document.getElementById("candidate-list-container");
                    const id = document.getElementById('election-id').innerText;
                    let listHtml = `<ul class="w3-ul w3-padding w3-margin">`
                    async function getCandidates(){

                        try{
                        const response = await fetch(`/candidates/${id}`);
                        console.log(response);
                        const candidates = await response.json();
                        console.log(candidates);
                        if (Object.keys(candidates).length !== 0){
                    
                            for(let position in candidates){
                                listHtml+=`<li><h3>${position}</h3></li>`
                                for(let candidate of candidates[position]){
                                    listHtml+=`<li>${candidate}</li>`
                                }
                            }
                            listHtml+=`</ul>`
                        }else{
                            listHtml+=`<li>No Candidates</li></ul>`
                        }
                        list.innerHTML=listHtml;
                    }catch(error){
                        console.log(error);
                    }
                }getCandidates();
                }
                </script>
            
            <div id="candidate-list-container" class="w3-container">

            </div>
        </div>
        </div>
        <div class="w3-col l3 w3-round w3-container w3-hide-small full-height">
            <div class="w3-card w3-padding w3-round background" style="box-shadow: none;">
                <h3>Getting Started</h3>
                <h4>Create A New Election</h4>
                <p>Click the new election tab to create an election</p>
                <h4>See the status of Elections</h4>
                <p>Click on the [see-status] button of the election to see the status</p>
                <h4>Add Candidates to election</h4>
                <p>Click on the name of the election button to add canditates to the election</p>
            </div>
        </div>
    </div>
    <% if(feedback !== "") {%>
        <% if(feedback === true) { %>
    <div id="feedback" class="w3-panel w3-center w3-animate-bottom w3-green" style="position: absolute; bottom:15%; width:100%;">Added New Candidate Succesfully</div>
    <% } else if(feedback === false) { %>
        <div id="feedback" class="w3-panel w3-center w3-animate-bottom w3-red" style="position: absolute; bottom:15%; width:100%;">Adding New Candidate Failed</div>
        <% } else {%>
            <div id="feedback" class="w3-panel w3-center w3-animate-bottom w3-red" style="position: absolute; bottom:15%; width:100%;"><%=feedback %></div>
            <% } %>
    <script>
        const fd = document.getElementById("feedback");
        setTimeout(()=>{
            fd.style.display="none"
        }, 10000);
    </script>
    <% } %>

    </div>


    <script>
        function showSection(sectionId, btnId) {
            const sections = document.querySelectorAll('.content-section');
            sections.forEach(section => section.classList.remove('active'));
            document.getElementById(sectionId).classList.add('active');
            const tabBtns = document.querySelectorAll(".tab-btn");
            tabBtns.forEach(btn => btn.classList.remove("w3-sand"));
            document.getElementById(btnId).classList.add("w3-sand");
        }
    </script>
</div>
<%- include('partials/resubmission.ejs') -%>
<%- include('partials/htmlfoot') -%>
