<%- include('partials/htmlhead'); -%>
<div class="w3-deep-orange">
    <header class="w3-container">
        <div class="w3-bar w3-deep-orange w3-margin">
            <a class="w3-bar-item w3-right" href="/logout">Log out</a>
            <button class="w3-bar-item w3-right w3-button w3-deep-orange" onclick="document.getElementById('profile-modal').style.display='block'">Profile</button>
        </div>
        <nav class="w3-bar">
            <button class="w3-bar-item w3-button tab-btn w3-sand" onclick="showSection('current-elections', 'current-elections-btn');" id="current-elections-btn">Current Elections</button>
        </nav>
    </header> 

<div class="w3-row">
    <div class="w3-card w3-col s12 m12 l9 w3-sand w3-round w3-container w3-padding" style="box-shadow: none;">
        <table class="w3-table w3-bordered full-height content-section active overflow" style="min-height: 300px; width:100%;" id="current-elections">
                        <thead>
                            <th>NAME</th>
                            <th>TYPE</th>
                            <th>SCOPE</th>
                            <th>START DATE</th>
                            <th>END DATE</th>
                        </thead>

                        <tbody id="election-data">
                            
                        </tbody>
                </table>

            </table>
    </div>
                
                    <div class="w3-col l3 w3-round w3-container w3-hide-small full-height">
                        <div class="w3-card w3-padding w3-round background" style="box-shadow: none;">
                            <h3>Getting Started</h3>
                            <p>Click on the name of the election to vote</p>
                            <h4>Details</h4>
                            <p>Click on the profile button to see your account details</p>
                        </div>
                    </div>
    </div>
    <div id="profile-modal" class="w3-modal">
        <div class="w3-modal-content w3-sand w3-card-4 w3-round" style="max-width: 400px;">
            <div class="w3-container w3-padding">
                <span onclick="document.getElementById('profile-modal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <ul class="w3-ul" id="profile">
                        
                    </ul>
                    <button class="w3-btn w3-margin w3-padding"><a href="/update-student">Modify</a></button>
            </div>
        </div>
    </div>
   
    <script>
        const fd = document.getElementById("feedback");
        if(fd){
        setTimeout(()=>{
            fd.style.display="none"
        }, 10000);}
    </script>
    <script src="/js/spinnerTemplate.js"></script>
    <script src="/js/showComponent.js"></script>
    <script>
        const getStudenturl = `/student/<%=matricule%>`
        try {
            (async () => {
            await showComponent(getStudenturl, 'GET', {}, 'profile', spinnerTemplate, (data)=>{
                let html = '<li><h3>Profile Details<h3></li>'
                console.log(data);
                for (let detail in data) {
                    if(detail === 'createdAt' || detail === 'updatedAt' || detail === 'hashed_password'){
                        continue;
                    }
                    html += `<li>${detail}: ${data[detail]}</li>`;
                }
                return html
            })
        })()
        } catch (error) {
            console.log(error)
        }

    </script>
    <script>
        const url = `/student/<%=matricule%>/elections`
        try {
            (async () => {
            await showComponent(url, 'GET', {}, 'election-data', spinnerTemplate, (elections)=>{
                let html = ''
                console.log(elections)
                if(elections.length === 0){
                    return html += 'No Elections'
                }
                for(let election of elections){
                    html += '<tr>'
                    for (let detail in election) {
                    if(detail === 'id'){
                        var votingUrl = `/student/<%=matricule%>/vote/${election.id}` 
        
                    }else if(detail === 'name'){
                        html += `<td><a href=${votingUrl}>${election[detail]}</a></td>`
                    }else if(detail === 'start_date'  || detail === 'end_date'){
                        html += `<td>${new Date(election[detail]).toDateString()}</td>`
                    }

                    else if(detail === 'createdAt' || detail === 'updatedAt'){
                        continue;
                    }
                    else{
                    html += `<td> ${election[detail]}</td>`;
                }}
                html += '</tr>'
                }
                
                return html
            })
        })()
        } catch (error) {
            console.log(error)
        }

    </script>
</div>
<%- include('partials/htmlfoot'); -%>