<%- include('partials/htmlhead') -%>
<div class="full-height w3-padding">
    <div class="w3-card w3-container  w3-round w3-white w3-padding-32" style="width: 630px; margin:auto;">
        <form action="/update-student" method="POST" class="w3-padding ">
            <div class="w3-margin"><h2>Modify Profile Details</h2></div>
            <div class="w3-margin">
                <label for="matricule">matricule</label>
                <input type="text" class="w3-input w3-border w3-round" name="matricule" id="" <%-`value=${data.MATRICULE}` -%> required>
            </div>
            <div class="w3-margin">
                <label for="name">name</label>
                <input type="text" class="w3-input w3-border w3-round" name="name" id="" <%-`value=${data.NAME}` -%> required>
            </div>
            <div class="w3-margin">
                <label for="faculty">faculty</label>
                <input type="text" class="w3-input w3-border w3-round" name="faculty" id="" <%-`value=${data.FACULTY}` -%>>
            </div>
            <div class="w3-margin">
                <label for="department">department</label>
                <input type="text" class="w3-input w3-border w3-round" name="department" id="" <%-`value=${data.DEPARTMENT}` -%>>
            </div>
            <div class="w3-margin">
                <label for="password">password</label>
                <input type="password" class="w3-input w3-border w3-round" name="password" id="" required>
            </div>
            <div class="w3-margin">
                <input type="submit" class="w3-input w3-round w3-deep-orange" value="Modify">
            </div>
        </form>
    </div>
</div>
<%- include('partials/htmlfoot') -%>