<%- include('partials/htmlhead') -%>
<div class="full-height" style="padding: 60px 120px;">
    <div class="w3-card w3-container form-padding w3-round w3-white" style="margin:auto;">
        <div class="w3-margin">
            <h2>Election</h2>
            <p>Submit form to vote</p>            
        </div>
        <form action=<%=`/student/${matricule}/vote/${id}` %> method="post" class="w3-padding ">
            <% for (let position in candidates) {  %>
                <div class="w3-margin">
                <label for="position"><h3><%=position %><h3></label></div>
                <% for(let candidate of candidates[position]) { %>
                <div class="w3-margin">
                    <input type="radio" name=<%=position %> id="" value=<%=`${candidate.name}` %> class="w3-radio">
                <label for=<%=candidate %> > <%=candidate.name %> </label>
                </div>
                <% } %>
            <% } %>
            <div class="w3-margin">
                <input type="submit" class="w3-input w3-round w3-button w3-deep-orange" <% if((!candidates)||(Object.keys(candidates).length === 0)){ %><%=`disabled` %><% } %> value="vote">
            </div>
        </form>
    </div>
</div>
<%- include('partials/resubmission.ejs') -%>
<%- include('partials/htmlfoot') -%>